:root {
    //// CUSTOM STYLES //////////////////////////////

    .natfrp-side-by-side {
        gap: 0 16px;

        display: flex;
        flex-wrap: wrap;

        &>div {
            flex: 1;
        }
    }

    h1:first-child + .gugu {
        margin-top: 2rem;
    }

    //// FIXES //////////////////////////////

    // Extend content width
    --content-width: 850px;

    // Reduce tab radius
    .tab-list {
        border-radius: 6px;

        .tab-list-nav {
            border-radius: 4px 4px 0 0;

            .tab-list-nav-item {
                border-radius: 4px 4px 0 0;

                &::before,
                &::after {
                    width: 6px;
                }
            }
        }

        .tab-item {
            padding: 0 0.75rem;
        }
    }

    // Fix bottom padding of container nested in details
    .custom-container.details .custom-container>p:last-child {
        margin-bottom: 1em;
    }

    // Fix video max width
    .html5-video-player {
        max-width: 100%;
    }

    // Fix search box margin
    .search-box {
        margin-left: 1rem;
        margin-right: 0;
    }
}
