:root {
    //// CUSTOM STYLES //////////////////////////////

    .natfrp-side-by-side {
        gap: 0 16px;

        display: flex;
        flex-wrap: wrap;

        &>div {
            flex: 1;
        }
    }

    .nowrap {
        white-space: nowrap;
    }

    h1:first-child+.gugu {
        margin-top: 2rem;
    }

    scroll-behavior: smooth;

    //// FIXES //////////////////////////////

    // Extend content width
    --content-width: 850px;

    // Reduce tab radius
    .vp-tabs {
        border-radius: 6px;

        .vp-tabs-nav {
            border-radius: 4px 4px 0 0;

            .vp-tab-nav {
                border-radius: 4px 4px 0 0;

                &::before,
                &::after {
                    width: 6px;
                }
            }
        }

        .vp-tab {
            padding: 0 0.75rem;
        }
    }

    // Fix bottom padding of container nested in details
    .custom-container.details .custom-container>p:last-child {
        margin-bottom: 1em;
    }

    // Fix video max width
    .html5-video-player {
        max-width: 100%;
    }

    // Fix search box margin
    .search-box {
        margin-left: 1rem;
        margin-right: 0;
    }

    @media (max-width: 959px) and (min-width: 420px) {
        .vp-tabs {
            margin-left: -1.9rem;
            margin-right: -1.9rem;
        }
    }

    @media(max-width: 419px) {
        .vp-tabs {
            margin-left: -1.5rem;
            margin-right: -1.5rem;
        }

        .vp-tab div[class*=language-] {
            margin-left: -0.75rem;
            margin-right: -0.75rem;
        }

        .vp-tab ol div[class*=language-] {
            margin-left: -1.95rem;
            margin-right: -0.75rem;
        }
    }
}
